.home {
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
  }
  &__widget{
    border: 1px solid rgb(212, 206, 206);
    border-radius: 2%;
    margin-top: 4vh;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    color: rgb(131, 130, 130);
  }
  &__heading{
    border-bottom: 1px solid rgb(212, 206, 206);
    padding: 1.5vh 0;
    font-size: 1rem;
    text-indent: 3vw;
  }
}